* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    padding: 10px 0;
    margin: 0;
}

.field-box {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem - 30px); /* с учетом заголовка (30px) и padding */
}

.field {
    display: grid;
    grid-template-columns: repeat(40, calc(min((100vw / 40), ((100vh - 3rem - 30px) / 24))));
    grid-template-rows: repeat(24, calc(min((100vw / 40), ((100vh - 3rem - 30px) / 24))));
    position: relative;
}

.field .tile {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.field .tileW {
    background-image: url(../images/tile-W.png);
}

.field .tileF {
    background-image: url(../images/tile-.png);
}

.field .tileE {
    background-image: url(../images/tile-E.png);
    z-index: 10;
}

.field .tileP {
    background-image: url(../images/tile-P.png);
    z-index: 10;
}

.field .tileHP {
    background-image: url(../images/tile-HP.png);
    z-index: 9;
}

.field .tileSW {
    background-image: url(../images/tile-SW.png);
    z-index: 9;
}

.health-container {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 20%;
    background-color: #ccc;
}

.health-bar {
    height: 100%;
    width: 80%;
    background-color: green;
    transition: width 0.2s;
}

.cl {
    clear: both;
    display: block;
}

.modal {
    display: none; /* Окно скрыто по умолчанию */
    position: fixed;
    z-index: 1000; /* На самом верху */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #686868;
}
